@model IEnumerable<TraineeMangement.Models.Trainee>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
}

<h2 class="text-md-center text-info">Trainee List</h2>

<div class="text-right">
    <p>
        @Html.ActionLink("Create New", "Create",new { },new { @class= "btn btn-success" })
    </p>
</div>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TraineeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TraineeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PresentAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PermanentAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Batch.BatchCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PermanentAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Batch.BatchCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TraineeId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.TraineeId }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TraineeId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
<div class="text-right">
    @Html.PagedListPager(Model as IPagedList, page => Url.Action("Index", new { page}))
</div>
